.update{
    background-color: green;
    transition: background-color .5s;
}
.update:hover{
    background-color: rgb(35, 185, 35)
}
.delete{
    background-color: red;
    transition: background-color .5s;
}
.delete:hover{
    background-color: rgb(248, 64, 64);
}