.update,.save,.submit{
    background-color: green;
    transition: background-color .5s;
}
.update:hover,.save:hover,.submit:hover{
    background-color: rgb(35, 185, 35)
}
.delete,.cancel{
    background-color: red;
    transition: background-color .5s;
}
.delete:hover,.cancel:hover{
    background-color: rgb(248, 64, 64);
}