button {
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fafafa;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.5s;
}
button:disabled{
    text-decoration: line-through;
}
.update,
.save,
.submit {
  background-color: #0d440a;
}
.update:hover,
.save:hover,
.submit:hover {
  background-color: #196115;
}
.delete,
.cancel,
.logOut {
  background-color: #ce0808;
}
.delete:hover,
.cancel:hover,
.logOut:hover {
  background-color: #dd3f3f;
}
.change {
  background-color: #c79646;
}
.change:hover {
  background-color: #f1b657;
}
