.notableDesc {
  background-color: #fafafa;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  margin: 1rem auto;
}
.image img {
  max-width: 100%;
}
.text{
  margin: .4rem;
  margin-bottom: 1rem;
}

.notableNameTitle {
  font-size: 2.4rem;
  color: #2d4759;
}
.NotableDescription {
  text-align: left;
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .notableDesc{
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .image {
    margin: 1rem;
  }
  .text{
  max-width: 50%;
}
}
